@font-face {
  font-family: 'Manrope';
  src: local('Manrope Bold'), local('Manrope-Bold'),
      url('../font/Manrope-Bold.woff') format('woff'),
      url('../font/Manrope-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Semibold'), local('Manrope-Semibold'),
      url('../font/Manrope-Semibold.woff') format('woff'),
      url('../font/Manrope-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Regular'), local('Manrope-Regular'),
        url('../font/Manrope-Regular.woff') format('woff'),
        url('../font/Manrope-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Light'), local('Manrope-Light'),
        url('../font/Manrope-Light.woff') format('woff'),
        url('../font/Manrope-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Thin'), local('Manrope-Thin'),
        url('../font/Manrope-Thin.woff') format('woff'),
        url('../font/Manrope-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Medium'), local('Manrope-Medium'),
        url('../font/Manrope-Medium.woff') format('woff'),
        url('../font/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
        url('../font/Manrope-ExtraBold.woff') format('woff'),
        url('../font/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: local('Caveat Bold'), local('Caveat-Bold'),
        url('../font/Caveat-Bold.woff') format('woff'),
        url('../font/Caveat-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: local('Caveat Regular'), local('Caveat-Regular'),
        url('../font/Caveat-Regular.woff') format('woff'),
        url('../font/Caveat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
}